.logo {
    width: 100px;
}

.cadastro {
    background-blend-mode: soft-light;
    background-color: rgb(173, 161, 114);
    background-image: url("./src/assets/capivara.jpg");
    background-position: center -10px;
    background-size: cover;
    border: 2px solid rgba(80, 48, 30, 0.3);
    border-radius: 2%;
    height: 65vh;
    text-shadow: #000 1px 1px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.forms{
    width: 65%;
}
.register p,
a {
    color: white;
    text-decoration: none;
}

.register a:hover {
    color: rgba(0, 0, 255, 0.5);
    text-decoration: underline;
}

@media (max-width: 900px) {
    .cadastro{
        width: 90vw;
        justify-content: center;
        padding: 0%;
        height: 80vh;
    }
}

h4{
    color: #ffffff;
}