main{
    background: linear-gradient(180deg, cyan 10%, #00D398 50%, #00A735 80%);
    color: black;
}

.msg{
    font-family: "Momo Signature", sans-serif;
    font-size: larger;
    height: 20vh;
    text-align: center;
}