.logo {
    width: 100px;
}

.login {
    background-blend-mode:soft-light;
    background-color: rgba(0, 255, 255, 0.6);
    background-image: url("./src/assets/capivara.jpg");
    background-position:center;
    background-size: cover;
    border: 4px solid rgba(80,48,30, 0.3);
    border-radius: 2%;
    height: 65vh;
    text-shadow: #000 1px 1px;
    width: 40vw;
}

.login h3 {
    color: white;
    text-align: center;
}

.forms {
    margin: 50px;
    padding: 30px;
}

.register p, a{
    color: white;
    text-decoration: none;
}

.register a:hover {
    color: rgba(0,0,255,0.5);
    text-decoration: underline;
}
