header {
  font-family: "Momo Signature", sans-serif;
  font-size: 25px;
  justify-content: space-between;
  background-color: #55ffee;
  height: 6vh;
}

button,
nav {
  margin-top: 3px;
}

#logo {
  height: 50px;
}
