header {
  font-family: "Momo Signature", sans-serif;
  font-size: 25px;
  justify-content: space-between;
  background-color: cyan;
  height: 6vh;
}

button, nav {
  margin-top: 2px;
}

#logo {
  height: 50px;
}
