@import url("https://fonts.googleapis.com/css2?family=Momo+Signature:wght@400;700&display=swap");
*{
  height: auto;
}
html,
body {
  height: auto;
  margin: 0;
}

.logcad {
  background-color: green;
  color: white;
}

.logcad:hover{
  background-color: lightgreen;
}