@import url("https://fonts.googleapis.com/css2?family=Momo+Signature:wght@400;700&display=swap");
*{
  height: auto;
}
html,
body {
  height: auto;
  margin: 0;
  background-image: url("./src/assets/wave2.svg");
  background-position: bottom right;
  background-size: cover;
  background-color: #F2D194;
}

.logcad {
  background-color: green;
  color: white;
}

.logcad:hover{
  background-color: lightgreen;
}