@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
* {
    height: auto;
    font-family: "Capriola", sans-serif;
}
html,
body {
    height: auto;
    margin: 0;
    background-image: url("./src/assets/grama3.svg");
    background-position: center;
    background-size: cover;
    background-color: #f5e5b1;
}

.logcad {
    background-color: green;
    color: white;
}

.logcad:hover {
    background-color: lightgreen;
}
