html, body {
  height: 100vh;
  margin: 0;
}

.barra-superior {
  background-color: aqua;
  justify-content: center;
  min-height: 8vh;
  text-align: center;
}

.barra-superior p {
  font-size: 3em;
}